language: node_js

node_js:
  - 12

services:
  - docker

before_script:
  - cd server
  - npm install mocha chai request

after_success:
  - sh .travis/deploy_dockerhub.sh

  # - docker-compose build -t $TRAVIS_REPO_SLUG:latest .
